.main {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.homeContainer {
  position:absolute;
  left:50%;
  margin-left:-130px;
  top:50%;
  margin-top:-50px;
  width:260px;
  height:100px;
}

.homeHeader {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
}

.nav {
  background: transparent;
  padding-top: 20px;
}

.detailHeader {
  text-align: center;
  font-size: 45px;
  color: #8c9899;
  font-weight: 100;
}

.forecastHeader {
  padding: 10px 0;
  font-size: 60px;
  color: #333;
  font-weight: 100;
}

.forecastDetailText {
  font-size: 30px;
  color: #333;
  font-weight: 100;
}

.forecastIcon {
  height: 60px;
}

.forecastButton {
  color: #999;
  background: transparent;
  border: 2px solid;
  border-color: #aaa;
}

/* TODO */
.detailContainer {
}

.detailIcon {
  height: 120px;
}
